<div class="center jumbotron">
  <h1>Podcast Metadata Api Home Page</h1>
  <p class="lead">Rails driven application wrapping metadata around podcasts</p>
</div>
<div class="col-md-8">
  <section class="podcasts">
    <h2><%= @podcasts.count %> Podcasts</h2>
    <ul class="podcasts">
      <%= render @podcasts %>
    </ul>
  </section>
</div>
<div class="col-md-4">
</div>
